.oneLine{

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.price{
    font-size: 17px;
    font-weight: 600;
}
.card-img{
    padding:30px 30px 0;
    width: 100%;
    height:200px;
    object-fit: contain;
}
.singleProduct .singleImage{
  
    height:500px;
    width: 100%;
}
.singleProduct .singleImage img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    float: right;
}
.qty{
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}